<div class= "container mt-3">
  <h1>Watchlists</h1>
  <% @lists.each do |list| %>
    <div class="card_category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : list.image_url %>)>
      <li>
          <%= link_to list.name, list_path(list) %>
          <%= cl_image_tag list.photo.key, :width => 100, :height => 150, :crop => :fill %>
          <p><%= link_to 'Delete', list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{list.name}?" } %></p>

      </li>
    </div>
  <% end %>
  <%= render 'lists/form', list: @list  %>
</div>
